---
interface Props {
    title?: string;
    description?: string;
}
const { title, description } = Astro.props;
---

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="publisher" content="OrigamiKing3612" />
<meta
    name="keywords"
    content="The House App, The Grades App, OrigamiKing, OrigamiKing3612"
/>
<meta
    name="theme-color"
    media="(prefers-color-scheme: light)"
    content="#f7faff"
/>
<meta
    name="theme-color"
    media="(prefers-color-scheme: dark)"
    content="#0d1117"
/>
<meta
    name="background-color"
    media="(prefers-color-scheme: light)"
    content="#f7faff"
/>
<meta
    name="background-color"
    media="(prefers-color-scheme: dark)"
    content="#0d1117"
/>
<meta property="og:title" content={title} />
<meta property="og:site_name" content={title} />
<meta property="og:description" content={description} />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://origamiking3612.com" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />

<script is:inline>
    const theme = (() => {
        const localStorageTheme = localStorage?.getItem("color-mode") ?? "";
        if (["dark", "light"].includes(localStorageTheme)) {
            return localStorageTheme;
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();

    if (theme === "light") {
        document.documentElement.classList.remove("dark");
    } else {
        document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("color-mode", theme);
</script>
